.Container {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.piechart-container {
    display: flex;
    margin: 0 auto 7rem auto;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.piechart-statewise {
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    margin: 0 auto;
    border-radius: 10px;
    border: .5px solid rgba(0,0,0,0.6);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
}

.piechart-coursewise {
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    margin: 0 auto;
    border-radius: 10px;
    border: .5px solid rgba(0,0,0,0.6);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
}





@media (max-width: 1200px) {
    .piechart-container {
        flex-flow: column;
    }
}