.btn {
    border: 2.5px solid var(--theme-pink);
    color: var(--theme-pink);
    border-radius: 25px;
    text-align: center;
    padding: 12.5px 20px;
    transition: background-color .3s ,  color .3s;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
}


.btn:hover {
    background-color: var(--theme-pink);
    color: white;
    cursor: pointer;
}

