.Container {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}


.list-description {
    background-color: #be2edd;
    width: 90%;
    position: absolute;
    height: 100px;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.list-description__title {
    font-size: 1.5rem;
    font-weight: 300;
}

.list-description__subtitle {
    font-weight: 300;
}


.students-list {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 60px;
    padding-top: 4rem;
}

.col-names {
    color: #be2edd;
}

.list-item {
    display: flex;
    border-bottom: 1px solid rgb(190, 190, 190);
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem 0;
    padding-left: 1rem;
}

.list-item:hover {
    background-color: #b2bec3;
}


.list-item__srn {
    flex-basis: 5%;
    padding: 2px 0;
    color: var(--theme-pink);

}

.list-item__name {
    flex-basis: 25%;
    padding: 3px 0;

}

.list-item__year {
    flex-basis: 15%;
    padding: 3px 0;

}

.list-item__skills {
    flex-basis: 40%;
    padding: 3px 0;
}

.list-item__btn {
    flex-basis: 10%;
}


.list-item a:visited , .list-item a:link {
    text-decoration: none;
    color: black;
}

.list-item a:hover {
    color: var(--theme-pink);
}


.view-btn {
    /* background-color: var(--theme-pink); */
    padding: 2px 5px;
    border-radius: 1px;
    color: var(--theme-pink);
    border: 1px solid var(--theme-pink);
    transition: background-color 0.2s, color 0.2s ;
}


.view-btn:hover {
    background-color: var(--theme-pink);
    color: white;
}

